<div *ngFor="let weather of weatherData">
  <div class="card mb-3">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ weather.name }}</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a
        [routerLink]="[
          '/weather',
          weather.name,
          weather.springM,
          weather.springN,
          weather.summerM,
          weather.summerN,
          weather.fallM,
          weather.fallN,
          weather.winterM,
          weather.winterN,
          weather.visitFrom,
          weather.visitTo
        ]"
        class="btn btn-primary"
        >view weather history</a
      >
    </div>
  </div>
</div>
