<div *ngFor="let weather of weatherData">
  <div class="card mb-3 d-grid col-md-10 col-lg-9 mx-auto">
    <img src="{{ weather.weatherImg }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ weather.name }}</h5>

      <a
        [routerLink]="[
          '/weather',
          weather.name,
          weather.springM,
          weather.springN,
          weather.summerM,
          weather.summerN,
          weather.fallM,
          weather.fallN,
          weather.winterM,
          weather.winterN,
          weather.visitFrom,
          weather.visitTo,
          weather.weatherImg
        ]"
        class="btn btn-dark"
        >view weather history</a
      >
    </div>
  </div>
</div>
