<div>
  <app-hero-section></app-hero-section>
  <p>
    From the silvery crests of the Alps to the sparkling Mediterranean Sea,
    Italy's beauty is unparalleled. A visit could mean marveling at the
    Colosseum after a tender plate of pasta, or drifting lazily down a canal,
    your belly full of local Sangiovese. Explore Tuscan vineyards and olive
    groves or drool over boutiques in fashionable Milan. Look for mermaids from
    the cliffs of Sorrento or nibble on Parma's famous cheese and prosciutto.
    Anywhere you choose, the country will captivate you.
  </p>
</div>
