.main {
  min-height: 60vh;
  display: grid;
  place-items: center;
}

.city {
  --radius: 160px;

  width: 60px;
  aspect-ratio: 1;
  // background-color: aquamarine;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  transform-origin: center;
  animation: orbit 55s linear infinite;

  p {
    padding-top: 12px;
  }
}

.attraction {
  --size: 80px;

  position: absolute;
  // top: calc(var(--size) / 2);
  // left: calc(var(--size) / 2);

  // background-color: burlywood;
  border-radius: 50%;

  transform: translate(
    calc(cos(var(--angle)) * var(--radius)),
    calc(sin(var(--angle)) * var(--radius))
  );

  img {
    border-radius: 50%;
    width: var(--size);
    aspect-ratio: 1;

    animation: turn-around 30s linear infinite;
  }
}

$total-attractions: 8;
@for $attraction from 0 through ($total-attractions - 1) {
  .attraction:nth-of-type(#{$attraction + 1}) {
    --angle: #{$attraction} * 360deg / #{$total-attractions};
  }
}

@keyframes orbit {
  100% {
    rotate: -1turn;
  }
}
@keyframes turn-around {
  100% {
    rotate: 1turn;
  }
}
